/* 自动生成文件，请不要修改 */
.m450{margin:450px}
.bgi-process-png{background-image: url('//xxx.www.ccc/fff/ee/process.png')}
.dib{display:inline-block}
.bceee{border-color:#eee}
.mt10{margin-top:10px}
.ctc-bw1-bbw2-btw5{border-width:1px;border-bottom-width:2px;border-top-width:5px}
.ctc-br3-btlr3{border-radius:3px;border-top-left-radius:3px}
.ctc-m10-mt20{margin:10px;margin-top:20px}