/* 自动生成文件，请不要修改 */
.bceee{border-color:#eee}
.mt10{margin-top:10rem}
.ctc_br3_btlr3{border-radius:3rem;border-top-left-radius:3rem}
.ctc_bw1_bbw2_btw5{border-width:1rem;border-bottom-width:2rem;border-top-width:5rem}
.m10{margin:10rem}
.mt-_dot_20{margin-top:-.20rem}
.df{display:flex}
.aic{align-items:center}
.bgcEEEEE7{background-color:#EEEEE7}
.br_dot_05{border-radius:.05rem}
.ctc_ml_dot_30_mr_dot_30_mb_dot_25{margin-left:.30rem;margin-right:.30rem;margin-bottom:.25rem}
.ctc_pl_dot_15_pr_dot_15{padding-left:.15rem;padding-right:.15rem}